.header-link {
    transition: all 0.3s;
}
.header-link {
    letter-spacing: -0.5px;
    font-weight: 800;
}

.header-link:hover {
    color: brown;
}

.header-button {
    transition: all 0.3s;
    opacity: 100 !important;
}

.header-button:hover {
    background-color: brown;
}

.header-button:active {
    background-color: rgb(97, 32, 32);
}
@media (max-width: 500px) {
    .header-con-alpha {
      max-width: 375px !important;  
    }
    .header-link {
        font-size: 10px;
    }
    .auth__btn-close {
        display: block !important;
    }
    .auth-btn {
        font-size: 0 !important;
        gap: 0 !important;
        background-color: #D80100 !important;
        padding: 5px 15px !important;
        border: none;
    }
    .auth__modal {
        width: 100% !important;
    }
    .auth-btn-svg {
        color: white !important;
    }
    .cart-desc {
        display: none !important;
    }
    .header-center {
        gap: 17px !important;
    }
    .header-con {
        justify-content: space-between;
        gap: 20px !important;
    }
    .header-logo {
        max-width: 55px;
    }
    .cart-mob {
        display: block !important;
    }
}
@media (max-width: 400px) {
    .header-container {
        padding: 0 20px;
    }
    .header-con-alpha {
      max-width: 333px !important;  
    }
    .header-link {
        font-size: 8px;
    }

    .header-center {
        gap: 20px !important;
    }
    .header-con {
        gap: 20px !important;
    }
    .header-logo {
        max-width: 55px;
        
    }
}
@media (max-width: 400px) {
    .header-container {
        padding: 13px 20px;
    }
    .header-con-alpha {
      max-width: 355px !important;  
    }
    .header-link {
        font-size: 8px;
    }
    .auth-btn {
        padding: 0px 10px !important;
    }
    .header-center {
        gap: 20px !important;
    }
    .header-con {
        gap: 20px !important;
    }
    .header-logo {
        max-width: 55px;
        
    }
}
@media (max-width: 360px) {
    .header-container {
        padding: 5px 15px;
    }
    .header-con-alpha {
      max-width: 300px !important;  
    }
    .header-link {
        font-size: 7px;
    }

    .header-center {
        gap: 14px !important;
    }
    .header-con {
        gap: 14px !important;
    }
    .header-logo {
        max-width: 50px;
        
    }
}